[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypka = "*"
flask = "*"
flask-cors = "*"
wheel = "*"
gunicorn = "*"
requests = "*"
python-decouple = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy = "*"

[dev-packages]

[requires]
python_version = "3.6"
