[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pypka = "*"
flask-cors = "*"
wheel = "*"
gunicorn = "*"
requests = "*"
python-decouple = "*"
psycopg2-binary = "*"
python-dotenv = "*"
sqlalchemy = "*"
flask-socketio = "*"
rq = "*"
redis-server = "*"
aiohttp = {extras = ["speedups"], version = "*"}
pkai = "*"
eventlet = "*"
gevent = "*"
gevent-websocket = "*"
cchardet = "*"
aiodns = "*"
websockets = "*"
supervisor = "*"
tornado = "*"
sse-starlette = "*"
asyncio = "*"
aioflask = "*"
flask = {extras = ["async"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
flask-sse = "*"
uvicorn = "*"
pipfile = "*"
pandas = "*"
scipy = "*"
flask-limiter = "*"

[dev-packages]

[requires]
python_version = "3.8"
